<div class="container">
    <div class="footer">
        <div class="wrapper">
            <div class="row justify-content-center align-items-center">
                <div class="col-3">
                    <div class="about">
                        <div class="row">
                            <h6>About</h6>
                        </div>
                        <div class="row">
                            <ul>
                                <li><a href="#">Shrimad Rajchandraji</a></li>
                                <li><a href="#">Shrimadji and Gandhiji</a></li>
                                <li><a href="#">Pujya Gurudevshri</a></li>
                                <li><a href="#">Pujya Gurudevshri's Schedule</a></li>
                                <li><a href="#">Ashram (Dharampur)</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="quick-links">
                        <div class="row">
                            <h6>Quick Links</h6>
                        </div>
                        <div class="row">
                            <ul>
                                <li><a href="#">Satsangs</a></li>
                                <li><a href="#">Meditation Retreats</a></li>
                                <li><a href="#">Satsangs on TV</a></li>
                                <li><a href="#">School Connect Programme</a></li>
                                <li><a href="#">News & Events</a></li>
                                <li><a href="#">Press</a></li>
                                <li><a href="#">Employment Opportunities</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="other-links">
                        <div class="row"></div>
                        <div class="row">
                            <ul>
                                <li><a href="#">Webcast</a></li>
                                <li><a href="#">Seeker's Portal</a></li>
                                <li><a href="#">Register</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Locate a Centre</a></li>
                                <li><a href="#">Mobile Apps</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="other-websites">
                        <div class="row">
                            <h6>Other Websites</h6>
                        </div>
                        <div class="row">
                            <ul>
                                <li><a href="#">SRMD Youth</a></li>
                                <li><a href="#">Shrimad Rajchandra Divinetouch</a></li>
                                <li><a href="#">Shrimad Rajchandra Love and Care</a></li>
                                <li><a href="#">SRMD Yoga</a></li>
                                <li><a href="#">Atmasiddhi Shastra</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-6">
                    <div class="app-on-playstore">
                        <div class="row">
                            <p class="mobile-app">Mobile App</p>
                            <p>SRMD Ashram</p>
                            <p>(Official Ashram App)</p>
                            <div class="app-images">
                                <ul>
                                    <li>
                                        <img src="https://d3fzplfbemxxxv.cloudfront.net/wp-content/uploads/2019/12/app_store_icon.svg" alt="">
                                    </li>
                                    <li>
                                        <img src="https://d3fzplfbemxxxv.cloudfront.net/wp-content/uploads/2019/12/google-play.svg" alt="Get it on Google Play">
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 justify-content-end right-side">
                    <div class="row">
                        <div id="search">
                            <input type="search" placeholder="Search">                            
                            <span class="search"><i class="fa fa-search"></i></span>

                        </div>
                        <div class="different-apps">
                            <ul>
                                <li>
                                    <span class="youtube"><i class="fa fa-youtube-play"></i></span>
                                </li>
                                <li>
                                    <span class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></span>
                                </li>
                                <li>
                                    <span class="twitter"><i class="fa-brands fa-x-twitter"></i></span>
                                </li>
                                <li>
                                    <span class="instagram"><i class="fa fa-instagram" ></i></span>
                                    
                                </li>
                                <li>
                                    <span class="pinterest">
                                        <i class="fa fa-pinterest"></i>
                                    </span>
                                    
                                </li>
                                <li>
                                    <span class="linkeIn"><i class="fa fa-linkedin" aria-hidden="true"></i></span>
                                    
                                </li>
                                <li>
                                    <span class="vimeo"><i class="fa fa-vimeo" aria-hidden="true"></i></span>
                                </li>
                                <li>
                                    <span class="whatsapp"><i class="fa fa-whatsapp" aria-hidden="true"></i></span>
                                </li>
                                <li>
                                    <span class="ticktok"><i class="fa fa-tiktok"></i></span>
                                <li>
                                    <span class="koapp">
                                        <img src="../../assets/images/koapp.svg" alt="" width="18">
                                    </span>
                                </li>
                            </ul>
                            <p class="copyright">
                                © Copyright 2024. Shrimad Rajchandra Mission Dharampur. All rights reserved. Terms of service | Privacy Policy
                            </p>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>